<div class="text-bg-dark">
  <div class="container p-5">
    <h1 class=" bolder">About this project</h1>
    <div class="row">
      <div class="col-12 col-lg-8">

        <p class="fs-4">This project was built with the support of the <a href="http://decidim.org/" target="_blank" rel="noopener noreferrer" class="link-light">Decidim Free Software Association</a> and <a href="https://www.peoplepowered.org/" target="_blank" rel="noopener noreferrer" class="link-light">People Powered's</a> <a href="https://www.peoplepowered.org/digital-democracy-accelerator" target="_blank" rel="noopener noreferrer" class="link-light">Digital Democracy Accelerator Programme</a>.
          <a href="/about" target="_self" rel="noopener noreferrer" class="bolder link-light">Learn more</a></p>
          
        </div>
      <div class="col-6 col-lg-2">
        <img src="/assets/images/decidim-logo-claim.svg" alt="Decidim Logo" class="about-logo w-100">
      </div>
      <div class="col-6 col-lg-2">
        <img src="/assets/images/peoplepowered.png" alt="People Powered Logo" class="about-logo w-100">

      </div>
    </div>
  </div>
</div>