<div class="container px-4 py-5" id="featured-3">
  <h1 class="border-bottom mb-4">Guides to a healthy DPG project</h1>
  <p>
    Both by sharing our experience in mantaining a DPG and by exploring how other DPGs are doing it, we have identified some key practices to a healthy DPG project. Check out these 3 guides and implement them in your project!
  </p>
  <div class="row g-4 row-cols-3 g-lg-4 py-5">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Codebases</h5>
          <p class="card-text">What should a DPG codebase have?</p>
          <a href="codebase" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Community</h5>
          <p class="card-text">What tools and spaces should you put in place for successful community fostering</p>
          <a href="community" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Governance</h5>
          <p class="card-text">What governance tools and models do you need for steering your DPG?</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div> 
    </div> 
  </div>
</div>