<div class="container px-4 py-5" id="featured-3">
  <h1 class="border-bottom bolder">Check the thematic<span class="baskervile"> guides</span></h1>
  <div class="row g-4 row-cols-2 g-lg-4 py-5">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Mount your Policy Guide</h5>
          <p class="card-text">This guide is a birds-eye view of mounting a strategy.</p>
          <a href="codebase" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Technical Guide to Publishers</h5>
          <p class="card-text">Show this to your technical team</p>
          <a href="technical-guide.html" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>