<div class="container">
  <h1 class="border-bottom bolder">Start<span class="baskervile"> here</span></h1>
  <div class="row g-4 row-cols-3 g-lg-4 py-5">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Build it or Adapt it?</h5>
          <p class="card-text">Why Open Source in the first place? A guide to tech teams that keep everything in-house<p>
          <a href="codebase" class="btn btn-primary">Read the guide</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">We want to build. But how to share it?</h5>
          <p class="card-text">So you want to share your code with the world but are scared of the risks? A guide to publish and sharing Open source <p>
          <a href="codebase" class="btn btn-primary">Read the guide</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">We want to re-use OpenSource. How to start?</h5>
          <p class="card-text">A guide to building virtuous relations to the OpenSource you reuse<p>
          <a href="codebase" class="btn btn-primary">Read the guide</a>
        </div>
      </div>
    </div>
  </div>
</div>